.clearfix {
  @extend %clearfix;
}

.visually-hidden {
  border: 0 none;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.center-aligned {
  text-align: center;
}

.bg-green {
  background-color: $green;
}

.bg-pink {
  background-color: $pink;
}

.bg-blue {
  background-color: $blue;
}
