
{% set modifier_class = ["card--vertical", "card--horizontal", "card--horizontal"] %}
{% set bg_class = ["bg-green", "bg-pink", "bg-blue"] %}
{% set id = ["choice1", "choice2", "choice3"] %}
{% set value = ["M", "R", "NS"] %}
<div class="tabs">
  <div class="tabs__header">
    <div class="tabs__title">Please select one font</div>
    <ul class="tabs__nav js-tabs__nav">
      <li class="is-active">My Fonts</li>
      <li >Buy Fonts</li>
    </ul>
  </div>
  <div class="tabs__content">
    <div class="tab js-tab">
      <div class="card card--vertical">
        <input type="radio" id="choice1" name="contact" value="M">
        <div class="card__icon bg-green"><span>M</span></div>
        <label for="choice1">
          Merryweather project is lead by Sorkin Type
        </label>
      </div>
      <div class="card card--horizontal">
        <input type="radio" id="choice2" name="contact" value="R" checked="checked">
        <div class="card__icon bg-pink"><span>R</span></div>
        <label for="choice2">
          Roboto doesn't compromise, allowing letters
        </label>
      </div>
      <div class="card card--horizontal">
        <input type="radio" id="choice3" name="contact" value="NS">
        <div class="card__icon bg-blue"><span>NS</span></div>
        <label for="choice3">
          Noto Sans covers over 30 scripts
        </label>
      </div>
    </div>
    <div class="tab js-tab visually-hidden">
      <div class="center-aligned">The old posters and signs in the traditional Montserrat
        neighborhood of Buenos Aires inspired Julieta Ulanovsky to design this typeface
        and rescue the beauty of urban typography that emerged in the first half of the
        twentieth century. </div>
    </div>
  </div>
</div>
