{% set title = "FE test" %}

<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>
  <meta name="description" content="FETest">
  <meta name="author" content="FE">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="../../dist/css/styles.css">

</head>

<body>
{% block content %}
{% endblock %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../src/js/scripts.js"></script>
</body>
</html>
